.display-product {
    padding: 5px;
    box-shadow: rgba(249, 2, 2, 0.314) 0px 1px 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: white;
}

.display-product img {
    width: 40%;
    height: 40%;
}

.display-product>p>button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    width: 100%;
    border: none;
    background-color: rgba(196, 189, 189, 0.682);
    height: 25px;
    border-radius: 0px;
}

.display-product button:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(121, 117, 117, 0.767);
}